[api]
; No trailing slashes in the API URL.
url = ?
key = ?
secret = ?
vault_secret = ?

[mailer]
from_address = unconfigured@example.com
from_name = Vault

; Change to true to not send emails (just log them)
debug = false
